button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div {
  width: 30px;
  height: 3px;
  background-color: #333;
}
